<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 p-8">

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <article th:each="product : ${products}" class="rounded-[10px] border border-gray-200 bg-white px-4 pt-12 pb-4">
            <time datetime="2022-10-10" class="block text-xs text-gray-500"> 10th Oct 2022 </time>
            <a href="#">
                <h3 class="mt-0.5 text-lg font-medium text-gray-900" th:text="${product.name}">Product Name</h3>
            </a>
            <div class="mt-4 flex flex-wrap gap-1">
                <span class="rounded-full bg-purple-100 px-2.5 py-0.5 text-xs whitespace-nowrap text-purple-600">
                    ID: <span th:text="${product.id}">1</span>
                </span>
                <span class="rounded-full bg-purple-100 px-2.5 py-0.5 text-xs whitespace-nowrap text-purple-600">
                    Product
                </span>
            </div>
        </article>
    </div>

</body>
</html>